@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Satoshi", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: rgba(18, 18, 18, 0.6);
  font-family: var(--font-sans);
  overflow-x: hidden;
}
p,
li {
  font-size: 16px;
}

.text-bigger {
  font-size: 24px !important;
}

.text-bigger > div {
  font-size: 24px !important;
}

h3 {
  font-size: 18px;
}

footer {
  padding-left: 90px;
  padding-right: 90px;
}
nav {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 30px;
}

.frostedGlass {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.507);
}

.heroImage {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 20%;
}

.testImage {
  width: 900px;
  height: 800px;
  background-image: url("/heroImage.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center top 20%;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 30%;
  background-size: cover;
}

.logoGradiant {
  width: 800px;
  height: 700px;

  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 30%;
  background: linear-gradient(180deg, #ff8c60 0%, #ff5b1c 100%);
}

section {
  padding-right: 10rem;
  padding-left: 10rem;
}
.hero {
  padding: 0 !important;
}
.spinner {
  width: 80px;
  height: 80px;
  background-color: #ff6428;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.specsHeroImage {
  rotate: 320deg;
}

h1,
h2 {
  text-decoration: underline !important;
  text-decoration-color: #fe9900 !important;
}

@media (max-width: 768px) {
  section {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  body > * {
    overflow-x: hidden !important;
  }
  nav {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .custLogo {
    width: 150px;
  }
  footer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
